body {
color:white;
background: pink;
margin: 0px;
font-family: "Oswald", sans-serif;

}

header{
border-bottom:  solid 4px ;
padding: 20px;
font-size: 30px; 
color: white; 


}
 section{
background:brown
padding-bottom 40px;
padding-top: 40px;
display: flex;
justify-content: center;
}

.chamada-texto{   

    margin-right: 100px;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

header{ 
    color: black;
    background-color: blue;
}